AI_API_KEY=your_openrouter_api_key
AI_BASE_URL=https://openrouter.ai/api/v1
AI_MODEL=google/gemma-4-26b-a4b-it:free

FIREBASE_SERVICE_ACCOUNT_JSON=your_firebase_service_account_json

UNSPLASH_ACCESS_KEY=your_unsplash_access_key